---
layout: default
---

<div class="post prose max-w-4xl w-full">
  <h1 class="text-2xl lg:text-4xl"><%= data.title %></h1>

  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="margin-bottom:2em;">
    <a class="a2a_button_x"></a>
    <a class="a2a_button_mastodon"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_telegram"></a>
    <a class="a2a_button_reddit"></a>
  </div>
    <script>
    var a2a_config = a2a_config || {};
    a2a_config.num_services = 4;
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->

    <%= yield %>
</div>
