---
layout: default
---
<div class="post-page">
  <div style="text-align:center;">
    <img src="<%= data.image %>" style="width:100%;max-width:600px;border-radius:8px;margin-bottom:2em;box-shadow:rgba(105, 105, 105, 0.63) 0px 0px 10px"/>
    <h1 style="font-family:'Merriweather';"><%= data.title %></h1>
  </div>

  <%= yield %>
</div>
