---
layout: default
---

<hr/>


<div class="post-page">
  <div style="text-align:center;">
    <h1 style="font-family:'Merriweather';"><%= data.title %></h1>
  </div>

  <section>
    <%= yield %>
  </section>
</div>
