---
layout: default
---

<div class="project-page">
  <h1 style="margin:0;"><%= data.title %></h1>
  <div style="margin-bottom: 2em;">
    <% data.technologies.map do |tech| %>
      <span class="tag"><%= tech %></span>
    <% end %>
  </div>
  <hr/>

  <section>
    <img src="<%= data.image %>" />
  </section>

  <section>
    <%= yield %>
  </section>
</div>
