body {
  font-family: "DM Mono", -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  line-height: 1.7;
  min-height: 100dvh;

  & > header {
    text-align: center;
    padding: 1em !important;

    a {
      text-decoration: none;
    }

    h1 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}
