body {
  font-family: "CommitMono", -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  line-height: 1.7;
  min-height: 100vh;

  & > nav {
    height: 60px;
    --action-color: white;
    background-color: var(--black-light);
    justify-content: center !important;
    // font-family: 'Raleway';

    ul {
      gap: 4em !important;

      @media (max-width: 1200px) {
        gap: 3em !important;
      }
      @media (max-width: 800px) {
        gap: 2em !important;
      }
      @media (max-width: 500px) {
        gap: 1.5em !important;
      }
    }
    li {
      width: 125px;
      text-align:center;
      padding: 5px;

      @media (max-width: 500px) {
        width: auto;
      }
    }
    a {
      text-decoration: none;
      font-weight: 400;
      color: white;
    }
    .current-page {
      text-decoration: underline;
      text-decoration-color: var(--orange-pink);
      text-underline-offset: 4px;
    }
  }

  & > header {
    text-align: center;
    padding: 1em !important;

    a {
      text-decoration: none;
    }
    h1 {
      font-family: "CommitMono";
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  // & > main {
  //   padding: 2em 8em !important;

  //   @media (max-width: 1200px) {
  //     padding: 30px 3em !important;
  //   }
  //   @media (max-width: 800px) {
  //     padding: 20px 1em !important;
  //   }
  //   @media (max-width: 500px) {
  //     padding: 16px 8px !important;
  //   }
  // }

  & > footer {
    text-align: center;
    padding: 1em 0 !important;
    margin-top: 1em;
    font-size: 80%;
    background-color: var(--black-light);
    color: var(--white-almost);

    a {
      color: var(--white-almost);

      img {
        width: 17px;
        color: white;
        background-color: white;
        border-radius: 100%;
        border: 1px solid white;
      }
    }
  }
}
