body > nav {
  height: var(--nav-height);
  --action-color: white;
  background-color: var(--black-light);
  justify-content: center !important;

  ul {
    gap: 4em !important;

    @media (max-width: 1200px) {
      gap: 3em !important;
    }
    @media (max-width: 800px) {
      gap: 2em !important;
    }
    @media (max-width: 500px) {
      gap: 1.5em !important;
    }
  }
  li {
    width: 125px;
    text-align:center;
    padding: 5px;

    @media (max-width: 500px) {
      width: auto;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: white;
  }
  .current-page {
    text-decoration: underline;
    text-decoration-color: var(--orange-pink);
    text-underline-offset: 4px;
  }
}
