.post-page {
  max-width: 1100px;
  margin: auto;

  h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
  p:has(img) {
    text-align: center; // centering images
  }
  img {
    max-width: 600px;
  }
  p.full-width img {
    max-width: 100%;
  }

  .post-title {
    letter-spacing: -1px;
  }
}

.post-article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @media (min-width: 600px) {
    grid-template-columns: auto 1fr;
  }

  & > div {
    padding-left: 1em;
  };

  padding: 2vw;
  margin: 0;
  margin-bottom: 1.5em;

  & > div {
    padding-left: 1em;
  }

  .post-title {
    letter-spacing: -1px;
  }

  a {
    // this is the title of the post/project
    font-size: 110%;
    font-weight: bold;
  }

  img {
    aspect-ratio: 5/3;
    object-fit: cover;
    height: 100%;
    border-radius: 4px;

    @media (min-width: 600px) {
      max-width: 200px;
    }
  }
}
