.project-page {
  text-align: left;

  img {
    max-width: 600px;
  }

  .project-links {
    text-align: center;
    margin-bottom: 5px;
  }

  .project-title {
    text-align: center;
    letter-spacing: -1px;
  }

  .project-tags {
    text-align: center;
    margin-bottom: 2em;
  }

  .project-land-section {
    text-align: center;
  }

  pre,code {
    text-align: left;
  }
}

.project-article {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;

  header, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    // container of the content
    padding: 1em;
    letter-spacing: -1px;
    background-color: var(--background-color);

    .title-container {
      font-size: larger;
      a {
        --primary: var(--h1-color);
      }
    }
  }

  header {
    img {
      // main image of the element
      aspect-ratio: 5/3;
      object-fit: cover;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }
}
