.project-article {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;

  header, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    // container of the content
    padding: 1em;
    background-color: var(--background-color);
  }

  img {
    aspect-ratio: 5/3;
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .tag {
    font-size: smaller;
    background-color: var(--gray-lighter);
    padding: 0.2em 0.6em;
    border-radius: 100px;
    margin-bottom: 1px;
  }
}
