.project-page {
  text-align: left;

  img {
    max-width: 800px;
  }

  .project-links {
    text-align: center;
    margin-bottom: 5px;
  }

  .project-title {
    text-align: center;
    letter-spacing: -1px;
  }

  .project-tags {
    text-align: center;
    margin-bottom: 2em;
  }

  .project-land-section {
    text-align: center;
  }

  .tag {
    font-size: smaller;
    background-color: var(--gray-lighter);
    padding: 0.2em 0.6em;
    border-radius: 100px;
    margin-bottom: 1px;
  }

  pre,code {
    text-align: left;
  }
}

.project-article {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em;

  header, footer {
    margin: 0;
    padding: 0;
  }

  footer {
    // container of the content
    padding: 1em;
    background-color: var(--background-color);
  }

  header {
    img {
      // main image of the element
      aspect-ratio: 5/3;
      object-fit: cover;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }

  .tag {
    font-size: smaller;
    background-color: var(--gray-lighter);
    padding: 0.2em 0.6em;
    border-radius: 100px;
    margin-bottom: 1px;
  }
}
