@import "components/nav";
@import "components/body";
@import "components/footer";
@import "components/timeline";
@import "components/project";
@import "components/post";
@import "components/callout";
@import "components/grid";
@import "components/tag";

:root {
  --font-family: "DM Mono";
  --font-weight: 300;
  --font-size: 18px;
  --block-spacing-vertical: calc(var(--spacing) * 3) !important;

  --callout-color: var(--color);

  --nav-height: 80px;
}

:root:not([data-theme="dark"]) {
  --black-almost: #11191f;
  --black-light: #2d2d2d;
  --white-almost: #f2f2f2;
  --gray-light: #d3d3d3;
  --gray-lighter: #f4f4f4;
  --orange-pink: #ffb088;

  // --body-background: floralwhite;
  --body-color: #444;
  --heading-color: black;
  --action-color: var(--orange-pink);
  --muted-border-color: var(--action-color); // used by hr
  --block-spacing-vertical: 8em;
  --code-color: black !important;

  --callout-color: var(--black-almost);
}

hr {
  margin: 1rem auto;
  max-width: 500px;
}

b, strong {
  // since we have no bolder, we have to override Pico.css default
  font-weight: bold !important;
}

article {
  margin: 0;
  padding: 1em;
}

h1,
h2,
h3 {
  text-align: center;
}

code {
  font-size: 90% !important;
  padding: 0.2rem 0.2rem !important;
}

div.intro {
  & > p,
  aside.callout {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
  }

  .skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius: 16px;

    box-shadow: none;
    background-color: #F8F8F8;
  }
}

img {
  width: 100%;
}
