@import "colors";

@import "components/body";
@import "components/timeline";
@import "components/project";
@import "components/post";
@import "components/callout";
@import "components/grid";

@font-face {
  font-family: "CommitMono";
  font-weight: regular;
  src: url("/fonts/CommitMono.otf") format("opentype");
}

:root {
  --font-family: "CommitMono";
  --font-size: 19px;
  --block-spacing-vertical: calc(var(--spacing) * 3) !important;

  --callout-color: var(--color);
}

:root:not([data-theme=dark]) {
  --black-almost: #11191f;
  --black-light: #2d2d2d;
  --white-almost: #f2f2f2;
  --gray-light: #d3d3d3;
  --gray-lighter: #f4f4f4;
  --orange-pink: #ffb088;

  // --body-background: floralwhite;
  --body-color: #444;
  --heading-color: black;
  --action-color: var(--orange-pink);
  --muted-border-color: var(--action-color); // used by hr
  --block-spacing-vertical: 8em;
  --code-color: black !important;

  --callout-color: var(--black-almost);
}

hr {
  margin: 1rem auto;
  max-width: 500px;
}

article {
  margin: 0;
  padding: 1em;
}

h1,h2,h3 {
  text-align: center;
}

code {
  font-size: 90% !important;
  padding: 0.2rem 0.2rem !important;
}

div.intro {
  & > p, aside.callout {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
  }

  .skill-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0;
    border-radius: 16px;
  }
}

img {
  width: 100%;
}
