<div
  id="alert"
  role="alert"
  class="relative  p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800"
  style="display:none">
  <button
    id="alert-close-btn"
    type="button"
    class="absolute right-4 text-blue-800 bg-transparent hover:bg-blue-900 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-full text-xs p-1 text-center dark:hover:bg-blue-600 dark:border-blue-600 dark:text-blue-400 dark:hover:text-white dark:focus:ring-blue-800"
    data-dismiss-target="#alert-additional-content-1"
    aria-label="Close">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-4 fill-current" viewBox="0 0 256 256"><path d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"></path></svg>
  </button>
  <div class="flex items-center">
    <h3 class="md:text-lg font-medium">Looking for a personal finance companion?</h3>
  </div>
  <div class="mt-2 mb-4 text-sm">
    I've built a personal finance tracker that helps you manage your income, expenses, share them with others, and much more!
  </div>
  <div class="flex gap-2">
    <a
      class="text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      href="https://coney.app"
      target="_blank">
      Learn more
    </a>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    function setCookie(name, value, days) {
        const d = new Date();
        d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
        const expires = "expires=" + d.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    function getCookie(name) {
        const nameEQ = name + "=";
        const ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    const alertBox = document.getElementById('alert');
    const closeBtn = document.getElementById('alert-close-btn');

    if (getCookie('alertClosed') === 'true') {
      alertBox.style.display = 'none';
    } else {
      alertBox.style.display = 'block';
    }

    closeBtn.addEventListener('click', function() {
      alertBox.style.display = 'none';
      setCookie('alertClosed', 'true', 14); // Set cookie to expire in 14 days
    });
  });
</script>
